n8n/error-handler-workflow.json
{
  "name": "Error Handler -> Telegram Alert",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format a concise Telegram alert from the failed execution. Telegram uses\n// parse_mode HTML, so escape the dynamic parts FIRST (an error message can\n// contain <, > or &) and then wrap the labels in <b> tags.\nconst e = $input.first().json || {};\nconst wfName = (e.workflow && e.workflow.name) || 'unknown workflow';\nconst lastNode = (e.execution && e.execution.lastNodeExecuted) || 'unknown node';\nconst errMsg = (e.execution && e.execution.error && e.execution.error.message) || 'no error message';\nconst url = (e.execution && e.execution.url) || '';\nconst esc = (s) => String(s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst text = '⚠️ <b>Second Brain failed</b>\\n<b>Workflow:</b> ' + esc(wfName) + '\\n<b>Node:</b> ' + esc(lastNode) + '\\n<b>Error:</b> ' + esc(errMsg) + (url ? '\\n' + esc(url) : '');\nreturn [{ json: { text } }];\n"
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"chat_id\": $env.TELEGRAM_CHAT_ID, \"text\": $json.text, \"parse_mode\": \"HTML\", \"disable_web_page_preview\": true } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
