n8n/evening-checkin-workflow.json
{
  "name": "Evening Check-in",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 20 * * *"
            }
          ]
        }
      },
      "id": "d1111111-1111-1111-1111-111111111111",
      "name": "Cron 20:30 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Evening check-in: scan the vault for ACTIVE items (projects + learning topics),\n// write a roster + `awaiting` flag the two-way assistant reads, and return the\n// prompt text. When the user replies in plain language, the assistant maps it to\n// this roster and logs `touch` actions - so the staleness clock stays honest\n// without anyone remembering /touch commands.\nconst fs = require('fs');\nconst path = require('path');\nconst VAULT = '/data/vault';\nconst INBOX = '/data/inbox';\nconst SKIP = new Set(['.git', '.obsidian', '.trash', 'node_modules', '.stfolder']);\n\nfunction walk(dir, out) {\n  let entries;\n  try { entries = fs.readdirSync(dir, { withFileTypes: true }); } catch (e) { return; }\n  for (const e of entries) {\n    const full = path.join(dir, e.name);\n    if (e.isDirectory()) { if (!SKIP.has(e.name)) walk(full, out); }\n    else if (e.isFile() && e.name.toLowerCase().endsWith('.md')) {\n      try { out.push({ file: path.relative(VAULT, full), raw: fs.readFileSync(full, 'utf8') }); } catch (e2) {}\n    }\n  }\n}\n\nfunction frontmatter(text) {\n  const o = {};\n  const m = text.match(/^﻿?---\\s*\\r?\\n([\\s\\S]*?)\\r?\\n---/);\n  if (!m) return o;\n  for (const line of m[1].split(/\\r?\\n/)) {\n    const t = line.trim();\n    if (!t || t.startsWith('#')) continue;\n    const i = line.indexOf(':');\n    if (i === -1) continue;\n    const v = line.slice(i + 1).trim().replace(/\\s+#.*$/, '').replace(/^[\"']|[\"']$/g, '');\n    o[line.slice(0, i).trim()] = v;\n  }\n  return o;\n}\n\nconst files = [];\nwalk(VAULT, files);\nconst titles = [];\nfor (const f of files) {\n  if (typeof f.raw !== 'string') continue;\n  const fm = frontmatter(f.raw);\n  const type = String(fm.type || '').toLowerCase();\n  if (String(fm.status || '').toLowerCase() === 'done') continue;\n  if (type !== 'project' && type !== 'learning') continue;\n  const fallback = String(f.file || '').replace(/\\.md$/i, '').split('/').pop();\n  if (fm.title || fallback) titles.push(fm.title || fallback);\n}\nconst roster = Array.from(new Set(titles.filter(Boolean))).slice(0, 60);\n\n// Persist the roster + awaiting flag for the assistant's check-in branch.\ntry {\n  fs.mkdirSync(INBOX, { recursive: true });\n  fs.writeFileSync(path.join(INBOX, '.tg_checkin.json'),\n    JSON.stringify({ ts: new Date().toISOString(), awaiting: true, projects: roster }));\n} catch (e) { /* if the inbox is read-only the prompt still goes out */ }\n\nconst esc = (s) => String(s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst sample = roster.slice(0, 8).map(esc).join(', ');\nconst text = '🌙 <b>Evening check-in</b>\\nWhat did you move forward today? Reply in a sentence or two and I’ll update your projects.'\n  + (sample ? '\\n\\n<i>Active: ' + sample + (roster.length > 8 ? ' …' : '') + '</i>' : '');\n\nreturn [{ json: { text, count: roster.length } }];\n"
      },
      "id": "d2222222-2222-2222-2222-222222222222",
      "name": "Build Check-in",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"chat_id\": $env.TELEGRAM_CHAT_ID, \"text\": $json.text, \"parse_mode\": \"HTML\", \"disable_web_page_preview\": true } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d3333333-3333-3333-3333-333333333333",
      "name": "Send Check-in",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Cron 20:30 Daily": {
      "main": [
        [
          {
            "node": "Build Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check-in": {
      "main": [
        [
          {
            "node": "Send Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
