n8n/telegram-assistant-workflow.json
{
  "name": "Telegram Two-Way Assistant",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Poll Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read the last processed Telegram update_id from a small state file. A FILE is\n// used on purpose (not n8n static data): static data is not persisted on manual\n// test runs, which would replay messages and double-handle commands. The file\n// works identically for manual and scheduled (active) executions.\nconst fs = require('fs');\nconst OFFSET_FILE = '/data/inbox/.tg_offset';\nlet offset = 0;\ntry {\n  if (fs.existsSync(OFFSET_FILE)) {\n    const n = parseInt(String(fs.readFileSync(OFFSET_FILE, 'utf8')).trim(), 10);\n    if (Number.isFinite(n) && n > 0) offset = n;\n  }\n} catch (e) { /* first run -> offset 0 */ }\nreturn [{ json: { offset } }];\n"
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Read Offset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/getUpdates?timeout=0&allowed_updates=%5B%22message%22%5D&offset={{ $json.offset }}",
        "authentication": "none",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Get Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Route inbound Telegram messages: owner-only, command-or-chat, and advance the\n// polling offset so a message is never handled twice. Commands are executed\n// inline (written to the vault inbox / action log); free text is marked\n// needs_llm so the downstream Groq node answers it. Every reply is built\n// HTML-safe because the send node uses parse_mode HTML.\nconst fs = require('fs');\nconst path = require('path');\nconst INBOX = '/data/inbox';\nconst OFFSET_FILE = path.join(INBOX, '.tg_offset');\nconst ACTIONS = path.join(INBOX, '.actions.jsonl');\nconst OWNER = (typeof $env !== 'undefined' && $env.TELEGRAM_CHAT_ID)\n  ? String($env.TELEGRAM_CHAT_ID).trim() : null;\n\n// Escape so a stray <, > or & in echoed user text can never break Telegram's\n// HTML parser or inject a tag.\nconst esc = (s) => String(s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst CHAT_SYSTEM = [\n  \"You are the user's Agentic Second Brain assistant, replying inside Telegram.\",\n  'Be warm, concise and genuinely useful - usually a few short lines, not an essay.',\n  'You can also run commands; if the user wants to capture a thought or update a',\n  'project, point them to: /note <text>, /touch <project>, /done <project>,',\n  '/reopen <project>, /help. Never invent personal facts you were not given.',\n  'Use only Telegram-friendly markup: *bold* (single asterisks) and _italics_.'\n].join(' ');\n\n// Load the \"current focus\" the morning nudge left behind, so a follow-up like\n// \"explain more\" is answered about the actual nudged project rather than as\n// generic chat. Absent file -> behaves as a plain assistant.\nlet focus = null;\ntry {\n  const CTX = path.join(INBOX, '.tg_context.json');\n  if (fs.existsSync(CTX)) focus = JSON.parse(String(fs.readFileSync(CTX, 'utf8')));\n} catch (e) { focus = null; }\nconst hasFocus = !!(focus && ((focus.projects && focus.projects.length) || (focus.reviews && focus.reviews.length)));\n\nconst res = $input.first().json || {};\nconst updates = Array.isArray(res.result) ? res.result : [];\nlet maxId = -1;\nconst out = [];\n\nfor (const u of updates) {\n  if (u && typeof u.update_id === 'number' && u.update_id > maxId) maxId = u.update_id;\n  const msg = (u && u.message) || null;\n  if (!msg) continue;                               // ignore non-message updates\n  if (msg.from && msg.from.is_bot) continue;        // no-loop: ignore bots (incl. self)\n  const chatId = msg.chat && msg.chat.id;\n  if (chatId === undefined || chatId === null) continue;\n  if (OWNER && String(chatId) !== OWNER) continue;  // owner-only (no stranger LLM bills)\n  const text = String(msg.text || '').trim();\n  if (!text) continue;                              // ignore stickers/photos/etc.\n\n  if (!text.startsWith('/')) {\n    let system = CHAT_SYSTEM;\n    if (hasFocus) {\n      system = CHAT_SYSTEM\n        + ' CURRENT FOCUS - the user is following up on today\\'s nudge. Focus data as JSON: '\n        + JSON.stringify({ today: focus.today, projects: focus.projects, reviews: focus.reviews })\n        + ' If they ask to explain more / why / how / where they left off, expand using this data and its recent_notes. If the message is clearly unrelated, answer normally without forcing the project in.';\n    }\n    out.push({ json: { needs_llm: true, system, user: text } });\n    continue;\n  }\n\n  // ---- Command handling (mirrors the inbound-capture semantics) ----\n  const m = text.match(/^\\/(\\w+)\\s*([\\s\\S]*)$/);\n  const cmd = (m ? m[1] : '').toLowerCase();\n  const arg = m ? m[2].trim() : '';\n  try { fs.mkdirSync(INBOX, { recursive: true }); } catch (e) {}\n\n  let reply;\n  if ((cmd === 'note' || cmd === 'n' || cmd === 'capture') && arg) {\n    const ts = new Date();\n    const slug = (arg.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40)) || 'note';\n    const fname = ts.toISOString().slice(0, 10) + '-' + ts.getTime() + '-' + slug + '.md';\n    const md = '---\\ntype: capture\\ncreated: ' + ts.toISOString() + '\\nsource: telegram\\n---\\n\\n' + arg + '\\n';\n    fs.writeFileSync(path.join(INBOX, fname), md);\n    reply = '📥 Captured to inbox as <i>' + esc(fname) + '</i>';\n  } else if ((cmd === 'done' || cmd === 'touch' || cmd === 'did' || cmd === 'reopen') && arg) {\n    const action = cmd === 'done' ? 'done' : (cmd === 'reopen' ? 'reopen' : 'touch');\n    fs.appendFileSync(ACTIONS, JSON.stringify({ ts: new Date().toISOString(), action, project: arg }) + '\\n');\n    reply = action === 'done'\n      ? '✅ Marked <i>' + esc(arg) + '</i> as done - it will not nudge you again.'\n      : (action === 'reopen'\n        ? '♻️ Reopened <i>' + esc(arg) + '</i> - it can nudge you again.'\n        : '👍 Logged activity on <i>' + esc(arg) + '</i> - staleness clock reset.');\n  } else if (cmd === 'help' || cmd === 'start') {\n    reply = '<b>Second Brain</b>\\nAsk me anything, or use:\\n📥 /note &lt;text&gt; - capture a thought\\n👍 /touch &lt;project&gt; - reset its staleness clock\\n✅ /done &lt;project&gt; - stop nudging it\\n♻️ /reopen &lt;project&gt; - undo a done\\n❓ /help - show this';\n  } else {\n    reply = '🤖 Unknown or empty command. Send /help, or just ask me a question.';\n  }\n  out.push({ json: { needs_llm: false, reply } });\n}\n\n// Advance the offset past everything we just saw. Telegram also drops these\n// server-side on the next getUpdates call carrying the higher offset.\nif (maxId >= 0) {\n  try { fs.mkdirSync(INBOX, { recursive: true }); } catch (e) {}\n  try { fs.writeFileSync(OFFSET_FILE, String(maxId + 1)); } catch (e) {}\n}\n\nreturn out;\n"
      },
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "Route & Handle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-needs-llm",
              "leftValue": "={{ $json.needs_llm }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b5555555-5555-5555-5555-555555555555",
      "name": "Needs LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": ($env.GROQ_MODEL || \"llama-3.3-70b-versatile\"), \"temperature\": 0.5, \"max_tokens\": 500, \"messages\": [ { \"role\": \"system\", \"content\": $json.system }, { \"role\": \"user\", \"content\": $json.user } ] } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b6666666-6666-6666-6666-666666666666",
      "name": "Chat LLM (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Normalize the Groq reply for a chat answer and render it as Telegram HTML.\n// Unlike the morning nudge, an empty/blocked reply does NOT throw - a chat turn\n// should always answer - so we fall back to a soft message that still surfaces\n// the provider reason for debugging.\nconst res = $input.first().json || {};\nlet text = '';\nif (res.choices && res.choices[0] && res.choices[0].message) {\n  text = res.choices[0].message.content || '';\n} else if (res.candidates && res.candidates[0] && res.candidates[0].content) {\n  text = (res.candidates[0].content.parts || []).map((p) => (p && p.text) || '').join('');\n} else if (typeof res.content === 'string') {\n  text = res.content;\n}\n\ntext = String(text).trim();\nconst fence = text.match(/^```[a-zA-Z]*\\r?\\n?([\\s\\S]*?)\\r?\\n?```$/);\nif (fence) text = fence[1].trim();\n\nif (!text) {\n  const reason = (res.error && res.error.message)\n    || (res.choices && res.choices[0] && res.choices[0].finish_reason)\n    || 'no content';\n  text = '🤔 I could not generate a reply (' + reason + '). Try rephrasing, or send /help.';\n}\n\nif (text.length > 4000) text = text.slice(0, 3990) + '\\n…';\n\n// Same WhatsApp-markup -> Telegram-HTML render as the morning nudge: escape\n// HTML specials FIRST, then turn *bold* / _italic_ runs into <b>/<i>.\nlet reply = text.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nreply = reply.replace(/\\*([^*\\n]+?)\\*/g, '<b>$1</b>');\nreply = reply.replace(/_([^_\\n]+?)_/g, '<i>$1</i>');\n\nreturn [{ json: { reply } }];\n"
      },
      "id": "b7777777-7777-7777-7777-777777777777",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"chat_id\": $env.TELEGRAM_CHAT_ID, \"text\": $json.reply, \"parse_mode\": \"HTML\", \"disable_web_page_preview\": true } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b8888888-8888-8888-8888-888888888888",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Poll Every Minute": {
      "main": [
        [
          {
            "node": "Read Offset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Offset": {
      "main": [
        [
          {
            "node": "Get Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Updates": {
      "main": [
        [
          {
            "node": "Route & Handle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route & Handle": {
      "main": [
        [
          {
            "node": "Needs LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs LLM?": {
      "main": [
        [
          {
            "node": "Chat LLM (Groq)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat LLM (Groq)": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
