n8n/whatsapp-assistant-workflow.json
{
  "name": "WhatsApp Two-Way Assistant",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1111111-1111-1111-1111-111111111111",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wa-inbound-hook"
    },
    {
      "parameters": {
        "jsCode": "// Route inbound WhatsApp messages (Evolution MESSAGES_UPSERT webhook): owner-only,\n// no-loop (skip our OWN sends), command-or-chat. Commands write to the vault inbox /\n// action log; free text is marked needs_llm so the Groq node answers it with\n// conversation memory and the morning nudge's focus. WhatsApp markup (*bold*,\n// _italic_) is NATIVE, so replies are plain text - no HTML escaping needed.\nconst fs = require('fs');\nconst path = require('path');\nconst INBOX = '/data/inbox';\nconst ACTIONS = path.join(INBOX, '.actions.jsonl');\nconst OWNER = (typeof $env !== 'undefined' && $env.WA_TARGET_NUMBER)\n  ? String($env.WA_TARGET_NUMBER).replace(/\\D/g, '') : null;\n\nconst CHAT_SYSTEM = [\n  \"You are the user's Agentic Second Brain assistant, replying inside WhatsApp.\",\n  'Be warm, concise and genuinely useful - usually a few short lines, not an essay.',\n  'You can also run commands; if the user wants to capture a thought or update a',\n  'project, point them to: /note <text>, /touch <project>, /done <project>,',\n  '/reopen <project>, /help. Never invent personal facts you were not given.',\n  'Use only WhatsApp markup: *bold* (single asterisks) and _italics_.'\n].join(' ');\n\n// Focus the morning nudge left behind, so a follow-up like \"explain more\" is\n// answered about the actual nudged project rather than as generic chat. Absent\n// file -> behaves as a plain assistant. SEPARATE file from Telegram's so the two\n// channels never cross-contaminate.\nlet focus = null;\ntry {\n  const CTX = path.join(INBOX, '.wa_context.json');\n  if (fs.existsSync(CTX)) focus = JSON.parse(String(fs.readFileSync(CTX, 'utf8')));\n} catch (e) { focus = null; }\nconst hasFocus = !!(focus && ((focus.projects && focus.projects.length) || (focus.reviews && focus.reviews.length)));\n\n// Short-term conversation memory (bounded, self-resetting) - its own WhatsApp file.\nconst HIST = path.join(INBOX, '.wa_history.json');\nconst MAX_TURNS = 8;\nconst HIST_TTL_MS = 6 * 3600 * 1000;\nconst clip = (s, n) => { s = String(s); return s.length > n ? s.slice(0, n) : s; };\n\nlet turns = [];\ntry {\n  if (fs.existsSync(HIST)) {\n    const h = JSON.parse(String(fs.readFileSync(HIST, 'utf8')));\n    turns = Array.isArray(h.turns) ? h.turns : [];\n    const updated = Date.parse(h.updated || '') || 0;\n    const focusTs = (focus && Date.parse(focus.ts || '')) || 0;\n    if ((focusTs && focusTs > updated) || (Date.now() - updated) > HIST_TTL_MS) turns = [];\n  }\n} catch (e) { turns = []; }\n\nconst saveHistory = (arr) => {\n  try {\n    fs.mkdirSync(INBOX, { recursive: true });\n    fs.writeFileSync(HIST, JSON.stringify({ updated: new Date().toISOString(), turns: arr.slice(-MAX_TURNS) }));\n  } catch (e) { /* best-effort memory */ }\n};\n\nconst out = [];\nfor (const item of $input.all()) {\n  const body = (item.json && item.json.body) || item.json || {};   // n8n webhook nests under .body\n  const data = body.data || {};\n  if (data.key && data.key.fromMe) continue;                       // no-loop: skip our own sends\n  const msg = data.message || {};\n  const text = String(msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || '').trim();\n  const jid = (data.key && data.key.remoteJid) || '';\n  if (jid.endsWith('@g.us') || jid === 'status@broadcast') continue;  // ignore groups/status\n  const number = jid.replace(/@.*$/, '').replace(/\\D/g, '');\n  if (!number) continue;\n  if (OWNER && number !== OWNER) continue;                          // owner-only (no stranger LLM bills)\n  if (!text) continue;                                             // ignore media/empty\n\n  if (!text.startsWith('/')) {\n    let system = CHAT_SYSTEM\n      + ' This is an ongoing conversation; use the prior messages for context and do not repeat yourself.';\n    if (hasFocus) {\n      system += ' CURRENT FOCUS - the user is following up on today\\'s nudge. Focus data as JSON: '\n        + JSON.stringify({ today: focus.today, projects: focus.projects, reviews: focus.reviews })\n        + ' If they ask to explain more / why / how / where they left off, expand using this data and its recent_notes. If the message is clearly unrelated, answer normally without forcing the project in.';\n    }\n    // Build the full prompt: system, then bounded history, then the new message.\n    const messages = [{ role: 'system', content: system }]\n      .concat(turns.map((t) => ({ role: t.role === 'assistant' ? 'assistant' : 'user', content: String(t.content) })))\n      .concat([{ role: 'user', content: text }]);\n    // Persist the user turn now; Extract Reply appends the assistant turn after Groq.\n    turns.push({ role: 'user', content: clip(text, 2000) });\n    saveHistory(turns);\n    out.push({ json: { needs_llm: true, messages } });\n    continue;\n  }\n\n  // ---- Command handling (mirrors inbound-capture / the Telegram assistant) ----\n  const m = text.match(/^\\/(\\w+)\\s*([\\s\\S]*)$/);\n  const cmd = (m ? m[1] : '').toLowerCase();\n  const arg = m ? m[2].trim() : '';\n  try { fs.mkdirSync(INBOX, { recursive: true }); } catch (e) {}\n\n  let reply;\n  if ((cmd === 'note' || cmd === 'n' || cmd === 'capture') && arg) {\n    const ts = new Date();\n    const slug = (arg.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40)) || 'note';\n    const fname = ts.toISOString().slice(0, 10) + '-' + ts.getTime() + '-' + slug + '.md';\n    const md = '---\\ntype: capture\\ncreated: ' + ts.toISOString() + '\\nsource: whatsapp\\n---\\n\\n' + arg + '\\n';\n    fs.writeFileSync(path.join(INBOX, fname), md);\n    reply = '📥 Captured to inbox as _' + fname + '_';\n  } else if ((cmd === 'done' || cmd === 'touch' || cmd === 'did' || cmd === 'reopen') && arg) {\n    const action = cmd === 'done' ? 'done' : (cmd === 'reopen' ? 'reopen' : 'touch');\n    fs.appendFileSync(ACTIONS, JSON.stringify({ ts: new Date().toISOString(), action, project: arg }) + '\\n');\n    reply = action === 'done'\n      ? '✅ Marked _' + arg + '_ as done - it will not nudge you again.'\n      : (action === 'reopen'\n        ? '♻️ Reopened _' + arg + '_ - it can nudge you again.'\n        : '👍 Logged activity on _' + arg + '_ - staleness clock reset.');\n  } else if (cmd === 'help' || cmd === 'start') {\n    reply = '*Second Brain*\\nAsk me anything, or use:\\n📥 /note <text> - capture a thought\\n👍 /touch <project> - reset its staleness clock\\n✅ /done <project> - stop nudging it\\n♻️ /reopen <project> - undo a done\\n❓ /help - show this';\n  } else {\n    reply = '🤖 Unknown or empty command. Send /help, or just ask me a question.';\n  }\n  out.push({ json: { needs_llm: false, reply } });\n}\n\nreturn out;\n"
      },
      "id": "c2222222-2222-2222-2222-222222222222",
      "name": "Route & Handle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-needs-llm",
              "leftValue": "={{ $json.needs_llm }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Needs LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": ($env.GROQ_MODEL || \"llama-3.3-70b-versatile\"), \"temperature\": 0.5, \"max_tokens\": 500, \"messages\": $json.messages } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c4444444-4444-4444-4444-444444444444",
      "name": "Chat LLM (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Normalize the Groq reply for a WhatsApp chat answer. Unlike the morning nudge,\n// an empty/blocked reply does NOT throw - a chat turn should always answer - so we\n// fall back to a soft message that still surfaces the provider reason for debugging.\n// WhatsApp markup (*bold*, _italic_) is NATIVE, so the text is kept as-is: no HTML\n// rendering, no escaping.\nconst res = $input.first().json || {};\nlet text = '';\nif (res.choices && res.choices[0] && res.choices[0].message) {\n  text = res.choices[0].message.content || '';\n} else if (res.candidates && res.candidates[0] && res.candidates[0].content) {\n  text = (res.candidates[0].content.parts || []).map((p) => (p && p.text) || '').join('');\n} else if (typeof res.content === 'string') {\n  text = res.content;\n}\n\ntext = String(text).trim();\nconst fence = text.match(/^```[a-zA-Z]*\\r?\\n?([\\s\\S]*?)\\r?\\n?```$/);\nif (fence) text = fence[1].trim();\n\nif (!text) {\n  const reason = (res.error && res.error.message)\n    || (res.choices && res.choices[0] && res.choices[0].finish_reason)\n    || 'no content';\n  text = '🤔 I could not generate a reply (' + reason + '). Try rephrasing, or send /help.';\n}\n\nif (text.length > 4000) text = text.slice(0, 3990) + '\\n…';\n\n// Append this answer to short-term memory so the next turn has context. The user\n// turn was already saved by Route; we add the assistant turn here, same bounded\n// window. Best-effort: memory must never break a reply.\ntry {\n  const fsh = require('fs');\n  const HIST = '/data/inbox/.wa_history.json';\n  let turns = [];\n  if (fsh.existsSync(HIST)) {\n    const h = JSON.parse(String(fsh.readFileSync(HIST, 'utf8')));\n    if (Array.isArray(h.turns)) turns = h.turns;\n  }\n  turns.push({ role: 'assistant', content: text.length > 2000 ? text.slice(0, 2000) : text });\n  fsh.writeFileSync(HIST, JSON.stringify({ updated: new Date().toISOString(), turns: turns.slice(-8) }));\n} catch (e) { /* best-effort memory */ }\n\nreturn [{ json: { reply: text } }];\n"
      },
      "id": "c5555555-5555-5555-5555-555555555555",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $env.WA_TARGET_NUMBER, \"text\": $json.reply, \"delay\": 800 } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c6666666-6666-6666-6666-666666666666",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Route & Handle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route & Handle": {
      "main": [
        [
          {
            "node": "Needs LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs LLM?": {
      "main": [
        [
          {
            "node": "Chat LLM (Groq)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat LLM (Groq)": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
